$backgroundColor: black;
$backgroundColorSecundary: #130f40;
$backgroundColorTercery: rgb(174, 69, 0);
$colorTitle: white;
$colorPara: rgb(193, 193, 193);
$colorLine: rgb(0, 0, 193);
$colorBottons: rgb(0, 0, 66);
$colorLogo: #2c2c85;

// FONT
$fontPrincipal: "Poppins", serif;
$fontSecundary: "Apple", sans-serif;
